body {
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}

.header {
    width:100%;
    height: 600px;
    background: url("img/section-1(header).jpg");
    background-size: cover;
}
.head-nav-bg {
    background: linear-gradient(
    to top,
    rgba(73, 73, 63, 0.5),
    rgba(73, 73, 63, 0.5)
    );
    width: 100%;
    position: absolute;
}
.head-nav {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 28px;
}
.logo-link {
    font-family: Verdana, sans-serif;
}
.text {
    color: #18cfab;
    margin-left: 38px;
}
.theWhite{
    color: white;
    font-weight: 100;
    font-size: 25px;
}
.hexagon {
    position: absolute;
    width: 34px;
    height: 20px;
    background-color: #18cfab;
    margin-top: 9px;
}
.theH {
    position: absolute;
    color: white;
    margin-top: -58px;
    margin-left: 7px;
    font-size: 25px;
}
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 10px solid #18cfab;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 10px solid #18cfab;
}

.head-nav-right{
    padding-top: 35px;
}

.head-nav-links {
    list-style: none;
    display: inline-block;
    color: white;
    padding-left: 10px;
    font-size: 13px;
    padding-bottom: 35px;
    font-family: Verdana, sans-serif;
}
.head-nav-links:hover {
    border-bottom: 1px solid #18cfab;
    color: #18cfab;
}
.search-icon {
    margin-left: -28%;
    margin-top: 10px;
}
.center-text{
    padding-top: 10%;
    color: white;
    font-family: Verdana, sans-serif;
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    text-align: center;
}
.green-text{
    color: #18cfab;
}
.creative-text{
    font-size: 40px;
}
.transparent-text{
    font-size: 18px;
    opacity: 0.5;
}
.header-buttons{
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 3%;
}
.btn{
    padding: 20px;
    border-radius: 5px;
    background: #18cfab;
    color: white;
    border: 1px transparent;
    box-shadow: 0 3px inset;
    width: 150px;
    font-size: 12px;
    height: 50px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}

.blue-btn{
    background: #00cbf6;
    margin-left: 20px;
}
.icon-container{
    width: 100%;
    display: flex;
}

.box-element{
    width: calc(100%/4);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.black-bg{
    background: #1c2a33;
    color: #18cfab;
    border-top: 4px solid #18cfab;
}
.green-bg{
    background: #18cfab;
    color: white;
    border-top: 4px solid white;
}
.inner-img{
    padding-top: 60px;
    padding-bottom: 30px;
    height: 60px;
}
.inner-text{
    padding-bottom: 60px;
    font-family: Verdana, sans-serif;
}
.tabs-container{
    width: 100%;
    text-align: center;
}
.styled-text{
    position: relative;
    margin-top: 4%;
    font-family: Verdana, sans-serif;
    color: #4e4e4e;
    margin-bottom: 6%;

}

.styled-text::after {
    content: "";
    position: absolute;
    top: 160%;
    left: 47%;
    width: 100px;
    height: 3px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    transform: skew(60deg);
}

.tabs-wrapper{
    width:  1160px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.tabs{
    display: flex;
    width: 100%;
}
.tabs-title {
    width: calc(100%/6);
    padding: 20px 5px;
    color: #a5a7a8;
    cursor: pointer;
    border: 1px solid;
    position: relative;
}

.tabs-title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: #18cfab;
    display: none;
}

.tabs-title.active {
    background-color: #18cfab;
    color: white;
    border: none;
}

.tabs-title.active::after {
    display: block;
}

.tabs-content{
    margin-top: 3%;
}

.tabs-content p {
    margin: 0;
    padding-left: 20px;
    text-align: left;
}

.tab-img{
    width: 194px;
    height: 139px;
}

[data-tab-content] {
   display: none;
}
[data-tab-content].active {
    display: flex;
}

.install-section {
    margin-top: 5%;
    width: 100%;
    height: 450px;
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
            url("img/Layer 2@1X.png") center;
    background-size: cover;
    text-align: center;
}

.install-section-text {
    padding-top: 8%;
    color: #18cfab;
    font-family: Verdana, sans-serif;
}

.gallery-section {
    width: 100%;
    text-align: center;
}

#gallery-wrapper {
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.gallery-tab-container {
    width: 700px;
    margin: 0 auto;
}
.gallery-tabs {
    display: flex;
    margin-bottom: 5%;
}
.gallery-tabs-title {
    width: calc(100%/5);
    padding: 20px 5px;
    color: #a5a7a8;
    cursor: pointer;
    border: 1px solid #ebebeb;
}

.gallery-tabs-title.active {
    background-color: white;
    color: #18cfab;
    border: 1px solid #ebebeb;
    border-top: 2px solid #18cfab;
}
.gallery-image {
    width: calc(100%/4);
}

.footer {
    margin-top: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #aeaeae;
    text-align: center;
    width: 100%;
    background-color: #22353f;
}
.footer-span {
    color: #18cfab;
    font-family: Verdana, sans-serif;
    border-right: 1px solid #aeaeae;
    padding-right: 5px;
}

.load-more {
    background-color: #18cfab;
    font-family: Verdana, sans-serif;
    padding: 20px;
    border-radius: 5px;
    color: white;
    border: 1px transparent;
    width: 150px;
    font-size: 16px;
    height: 58px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    margin-top: 4%;
    position: relative;
}

.load-more::before {
    content: "+";
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-left: 8px;
    margin-top: -5px;
}
.hover-div {
    width: calc(100%/4);
    height: 210.35px;
    background-color: white;
    border-top: 3px solid #18cfab;
}
.hover-icon {
    margin: 0 auto;
    margin-top: 15%;
    display: block;
    cursor: pointer;
}

.const-text {
    color: #18cfab;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    margin-top: 12%;
    display: block;
}
.title-text {
    display: block;
    margin-top: 5%;
    font-family: Verdana, sans-serif;
}